@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 ">

                    <#input id="jobName" name="任务名称" underline="true" />
                    <#input id="cronExpression" name="CRON" underline="true" />


                </div>

                <div class="col-sm-6 ">
                    <#input id="jobCode" name="任务编号" underline="true" />
                    <#select id="appKey" name="选择应用">
                    </#select>

                </div>

                <div class="col-sm-12 ">
                    <#input id="callbackUrl" name="回调地址" underline="true" />
                </div>

                <div class="col-sm-12 ">
                    <#input id="jobDesc" name="任务描述" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JobListInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="JobListInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    window.onload = function(){
        var appListJson = '${appListJson}';
        var appList = JSON.parse(appListJson);
        var data = appList.data;
        var str = "";
        str = str + "<option value=''>选择应用</option>";
        for (var i = 0; i < data.length; i++) {
            str = str + "<option value='"+ data[i].appKey +"'>"+ data[i].appName +"</option>";
        }
        document.getElementById("appKey").innerHTML = str;
    }

    $(function() {
        var maxLength = 64;
        $("#jobName").attr("maxlength", maxLength);
        $("#jobCode").attr("maxlength", maxLength);
        $("#appKey").attr("maxlength", maxLength);
        $("#cronExpression").attr("maxlength", maxLength);
        $("#callbackUrl").attr("maxlength", maxLength);
        $("#jobDesc").attr("maxlength", maxLength);

        $("#callbackUrl").parent().parent().find("label").eq(0).width(64);
        $("#callbackUrl").parent().parent().find("input").eq(0).width(600);
        $("#jobDesc").parent().parent().find("label").eq(0).width(64);
        $("#jobDesc").parent().parent().find("input").eq(0).width(600);
    });

</script>
<script src="${ctxPath}/static/modular/system/jobList/jobList_info.js"></script>
@}
