@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="appName" name="应用名称" underline="true" maxlength="10" />
                    <#input id="appSecret" name="应用秘钥" underline="true" />
                </div>


                <div class="col-sm-6">
                    <#input id="appKey" name="应用KEY" underline="true" />
                    <#select id="appStatus" name="是否启用">
                        <option value="1">启用</option>
                        <option value="2">禁用</option>
                    </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppListInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppListInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function() {
        var maxLength = 64;
        $("#appName").attr("maxlength", maxLength);
        $("#appKey").attr("maxlength", maxLength);
        $("#appSecret").attr("maxlength", maxLength);
    });
</script>
<script src="${ctxPath}/static/modular/system/appList/appList_info.js"></script>
@}
