@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>监控列表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="objName" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MonitorList.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MonitorListTableToolbar" role="group">
                            @if(shiro.hasPermission("/monitorList/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MonitorList.openAddMonitorList()"/>
                            @}
                            @if(shiro.hasPermission("/monitorList/update")){
                                <#button name="配置阈值" icon="" clickFun="MonitorList.openMonitorListDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/monitorList/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="MonitorList.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MonitorListTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/monitorList/monitorList.js"></script>
@}
